@import "colors";

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: auto;
  @media (min-height: 700px) {
    height: calc(100vh - 17rem);
  }

  &__title {
    font-weight: bold;
    font-size: 2rem;
  }

  &__board {
    height: 20rem;
    width: 30rem;
    border-radius: 10px;
    background-color: $dark-gray;
    padding: 2rem;
    position: relative;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  &__number {
    color: $red;
    font-weight: bold;
  }

  &__text-next {
    display: flex;
    gap: 0.25rem;
  }

  .wpm {
    color: $light-gray;
  }

  .hidden {
    display: none;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);

  &__arrow {
    height: 1rem;
  }

  &__page {
    font-weight: bold;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    padding: 0.5rem;
    border-radius: 8px;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
}
