.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2rem;
  &__logo {
    height: 4rem;
  }
  max-width: 80rem;

  &__user {
    height: 2.8rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(325deg)
      brightness(104%) contrast(101%);
  }

  &__account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
